.collpage {
    &__title {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        grid-row-gap: 1.5rem;
        margin-bottom: 4rem;
        
        @include respond(tab-land) {
            margin-bottom: 3rem;
            grid-template-columns: repeat(3, 1fr);
        }
        @include respond(tab-port) {
            margin-bottom: 3rem;
            grid-template-columns: repeat(2, 1fr);
        }
        
    }

    &__item {
        &__imagebox {
            width: 100%;
            height: auto;
        }
    
        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 5px;
        }
    
        &__titlebox {
    
        }
    
        &__title {
            margin-top: .6rem;
            font-size: 1.6rem;
    
            @include respond(tab-port) {
                font-size: 1.3rem;
                color: #333333;
            }
        }
    
        &__price {
            font-size: 1.6rem;
    
            @include respond(tab-port) {
                font-size: 1.2rem;
                color: #333333;
            }
        }
    }
}