.homepage {
    &__banner {
        border-radius: 5px;
        height: auto;

        &__image {
            width: 100%;
            border-radius: 5px;
        }
    }

    &__featured {
        margin-top: 2rem;
        // background-color: yellow;

        &__title {
            font-size: 1.6rem;
            margin-bottom: 1rem;            
            text-transform: uppercase;
            @include respond(tab-port) {
                font-size: (1.4rem);
            }
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;
            grid-row-gap: 1.5rem;
            margin-bottom: 4rem;
            
            @include respond(tab-land) {
                margin-bottom: 3rem;
                grid-template-columns: repeat(3, 1fr);
            }
            @include respond(tab-port) {
                margin-bottom: 3rem;
                grid-template-columns: repeat(2, 1fr);
            }
            
        }
        
        &__item {
            height: auto;
            cursor: pointer;

            &__imagebox {
                width: 100%;
                height: auto;
            }

            &__image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-radius: 5px;
            }

            &__titlebox {

            }

            &__title {
                margin-top: .6rem;
                font-size: 1.6rem;

                @include respond(tab-port) {
                    font-size: 1.3rem;
                    color: #333333;
                }
            }

            &__price {
                font-size: 1.6rem;

                @include respond(tab-port) {
                    font-size: 1.2rem;
                    color: #333333;
                }
            }
        }
    }
}