.product-swatch-title {
    font-size: 1.8rem;
}
.product-swatch-info {
    display: flex;
    align-items: center;
}
.product-size-show {
    margin-left: 1rem;
    font-size: 1.8rem;
}

.product-swatch-grid {
    margin-top: 1rem;
    display: flex;
}

.product-swatch-item {
    margin-right: 1rem !important;
    font-size: 1.1rem;
}